@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="big-container">
    <h1>@ViewData["Title"]</h1>

    <p>W razie problemów skontaktuj się z nami pod <a href="mailto:example@example.com">tym adresem email</a></p>
</div>